<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Satu</title>
    <link rel="stylesheet" href="../static/tugas_1/style.css">
</head>

<body>
    <h1 style="background-color: orange;">DATA SENSOR SUHU tugas 2</h1>
    <div id="suhu">0</div>
    <h1 style="background-color: lightblue;">STATUS</h1>
    <div id="fanStatus">
        <h2>-</h2>
    </div>
    <script src="../static/tugas_1/suhu.js"></script>
</body>

</html>