<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/tugas_2/style.css">
    <title>Document</title>
</head>

<body>
    <h1 style="background-color: blue;">KONTROL</h1>
    <button id="onButton" onclick="setStatus('ON')">ON</button>
    <button id="offButton" onclick="setStatus('OFF')">OFF</button>
    <h1 style="background-color: orange;">STATUS</h1>
    <h2 id="status"> - </h2>

    <script src="../static/tugas_2/app.js"></script>
</body>

</html>