<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Socket</title>
    <link rel="stylesheet" href="../static/app.css">
    <script src="
    https://cdn.jsdelivr.net/npm/chart.js@4.5.0/dist/chart.umd.min.js
    "></script>
</head>

<body>
    <div class="w-screen  min-h-screen bg-base-content text-base-100 py-5">
        <div class="w-6xl m-auto grid grid-cols-[70%_30%] relative pb-2 pl-2">
            <div class="absolute z-11 top-0 left-0 w-6xl h-[100%] bg-base-content" id="box-loading">
                <p class="m-auto">Loading...</p>
            </div>
            <div class="space-y-4 pr-10">
                <div class="flex content-center justify-between">
                    <h3>Smart Farming</h3>
                    <div>
                        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="fill-current h-6 w-6">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M4 8C4 9.10457 3.10457 10 2 10C0.895431 10 0 9.10457 0 8C0 6.89543 0.895431 6 2 6C3.10457 6 4 6.89543 4 8Z">
                                </path>
                                </path>
                                <path
                                    d="M10 8C10 9.10457 9.10457 10 8 10C6.89543 10 6 9.10457 6 8C6 6.89543 6.89543 6 8 6C9.10457 6 10 6.89543 10 8Z">
                                </path>
                                <path
                                    d="M14 10C15.1046 10 16 9.10457 16 8C16 6.89543 15.1046 6 14 6C12.8954 6 12 6.89543 12 8C12 9.10457 12.8954 10 14 10Z">
                                </path>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="rounded-lg overflow-hidden">
                    <img src="../static/smartfarming.webp" alt="smartgreenhouse"
                        class="aspect-auto object-cover object-top-right w-full h-[250px]">
                </div>
                <div class="grid grid-cols-4 gap-4 w-full">
                    <div id="box-temp" class="bg-[#291E04] px-7 py-5 rounded-xl shadow shadow-base-100/10">
                        <div class="mb-3">
                            <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="m-auto">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M12 15.9998C11.4477 15.9998 11 16.4475 11 16.9998C11 17.5521 11.4477 17.9998 12 17.9998C12.5523 17.9998 13 17.5521 13 16.9998C13 16.4475 12.5523 15.9998 12 15.9998ZM12 15.9998L12.0071 10.5M12 16.9998L12.0071 17.0069M16 16.9998C16 19.209 14.2091 20.9998 12 20.9998C9.79086 20.9998 8 19.209 8 16.9998C8 15.9854 8.37764 15.0591 9 14.354L9 6C9 4.34315 10.3431 3 12 3C13.6569 3 15 4.34315 15 6V14.354C15.6224 15.0591 16 15.9854 16 16.9998Z"
                                        stroke="#F65174" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </div>
                        <div class="text-center space-y-3">
                            <h2 class="text-5xl font-semibold tracking-wide text-shadow-sm text-shadow-base-300"
                                id="dt-temp">26.5
                            </h2>
                            <div class="leading-[1.1]">
                                <h4 class="text-[1rem] text-primary font-semibold">Suhu Ruang</h4>
                            </div>
                        </div>
                    </div>
                    <div id="box-pressure" class="bg-[#291E04] px-7 py-5 rounded-xl shadow shadow-base-100/10">
                        <div class="mb-3 text-center">
                            <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg" class="m-auto">
                                <g id=" SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M15 5.51215C18.4956 6.74766 21 10.0814 21 14C21 15.4685 20.6483 16.8549 20.0245 18.0794C19.7216 18.6741 19.0839 19 18.4165 19H5.58351C4.91613 19 4.27839 18.6741 3.97547 18.0794C3.3517 16.8549 3 15.4685 3 14C3 10.0814 5.50442 6.74766 9 5.51215M12 12.9999C11.4477 12.9999 11 13.4477 11 13.9999C11 14.5522 11.4477 14.9999 12 14.9999C12.5523 14.9999 13 14.5522 13 13.9999C13 13.4477 12.5523 12.9999 12 12.9999ZM12 12.9999V3.99994"
                                        stroke="#F65174" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </g>
                            </svg>
                        </div>
                        <div class="text-center space-y-3">
                            <h2 id="dt-pressure"
                                class="text-5xl font-semibold tracking-wide text-shadow-sm text-shadow-base-300">26.5
                            </h2>
                            <div class="leading-[1.1]">
                                <h4 class="text-[1rem] text-primary font-semibold">Tekanan Udara</h4>
                            </div>
                        </div>
                    </div>
                    <div id="box-altitude" class="bg-[#291E04] px-7 py-5 rounded-xl shadow shadow-base-100/10">
                        <div class="mb-3">
                            <svg width="64px" height="64px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                                class="fill-primary m-auto">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M22 23H2v-1h20zM16 9.981V8.567l-.5-.501-2.979 2.995L6.5 5 1.983 9.543v1.44L6.5 6.45l5.307 5.33-3.038 3.055.716.716L15.5 9.48zm3 1.593v1.415l3 3.008v-1.416zM21 1h-7v1h7zm-3 18.293V4.707l2.646 2.646.707-.707L17.5 2.793l-3.854 3.853.707.707L17 4.707v14.586l-2.646-2.646-.707.707 3.853 3.853 3.854-3.854-.707-.707z">
                                    </path>
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                </g>
                            </svg>
                        </div>
                        <div class="text-center space-y-3">
                            <h2 id="dt-altitude"
                                class="text-5xl font-semibold tracking-wide text-shadow-sm text-shadow-base-300">26.5
                            </h2>
                            <div class="leading-[1.1]">
                                <h4 class="text-[1rem] text-primary font-semibold">Altitude</h4>
                            </div>
                        </div>
                    </div>
                    <div id="box-ldr" class="bg-neutral/20 px-7 py-5 rounded-xl shadow shadow-base-100/10">
                        <div class="mb-3 text-center">
                            <svg id="sun-icon" viewBox="0 0 24 24" fill="none" class="w-24 h-24 m-auto"
                                xmlns="http://www.w3.org/2000/svg" id="sun">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M12 3V4M12 20V21M4 12H3M6.31412 6.31412L5.5 5.5M17.6859 6.31412L18.5 5.5M6.31412 17.69L5.5 18.5001M17.6859 17.69L18.5 18.5001M21 12H20M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z"
                                        stroke="#000000" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <svg id="moon-icon" class="w-24 h-24 m-auto" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M13 6V3M18.5 12V7M14.5 4.5H11.5M21 9.5H16M15.5548 16.8151C16.7829 16.8151 17.9493 16.5506 19 16.0754C17.6867 18.9794 14.7642 21 11.3698 21C6.74731 21 3 17.2527 3 12.6302C3 9.23576 5.02061 6.31331 7.92462 5C7.44944 6.05072 7.18492 7.21708 7.18492 8.44523C7.18492 13.0678 10.9322 16.8151 15.5548 16.8151Z"
                                        stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                </g>
                            </svg>
                        </div>
                        <div class="text-center space-y-3">
                            <h4 id="text-ldr" class="text-[1rem] text-primary/90 font-semibold">Status Cahaya</h4>
                        </div>
                    </div>
                </div>
                <div>
                    <canvas id="sensorChart" style="width:100%"></canvas>
                </div>
            </div>
            <div class="space-y-4">
                <div class="flex content-center justify-between">
                    <h3>Kontrol Perangkat</h3>
                    <div>
                        <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="fill-current h-6 w-6">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M4 8C4 9.10457 3.10457 10 2 10C0.895431 10 0 9.10457 0 8C0 6.89543 0.895431 6 2 6C3.10457 6 4 6.89543 4 8Z">
                                </path>
                                </path>
                                <path
                                    d="M10 8C10 9.10457 9.10457 10 8 10C6.89543 10 6 9.10457 6 8C6 6.89543 6.89543 6 8 6C9.10457 6 10 6.89543 10 8Z">
                                </path>
                                <path
                                    d="M14 10C15.1046 10 16 9.10457 16 8C16 6.89543 15.1046 6 14 6C12.8954 6 12 6.89543 12 8C12 9.10457 12.8954 10 14 10Z">
                                </path>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-5">
                    <button id="lamp-1" class="btn bg-white text-black border-[#e5e5e5] flex flex-col h-24">
                        <svg viewBox="0 0 24 24" class="fill-transparent stroke-neutral w-10 h-10"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M12.0001 7.88989L10.9301 9.74989C10.6901 10.1599 10.8901 10.4999 11.3601 10.4999H12.6301C13.1101 10.4999 13.3001 10.8399 13.0601 11.2499L12.0001 13.1099"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path
                                    d="M8.30011 18.0399V16.8799C6.00011 15.4899 4.11011 12.7799 4.11011 9.89993C4.11011 4.94993 8.66011 1.06993 13.8001 2.18993C16.0601 2.68993 18.0401 4.18993 19.0701 6.25993C21.1601 10.4599 18.9601 14.9199 15.7301 16.8699V18.0299C15.7301 18.3199 15.8401 18.9899 14.7701 18.9899H9.26011C8.16011 18.9999 8.30011 18.5699 8.30011 18.0399Z"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M8.5 22C10.79 21.35 13.21 21.35 15.5 22" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                        <span>Lampu Ruangan 1</span>
                    </button>
                    <button id="lamp-2" class="btn bg-white text-black border-[#e5e5e5] flex flex-col h-24">
                        <svg viewBox="0 0 24 24" class="fill-transparent stroke-neutral w-10 h-10"
                            xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M12.0001 7.88989L10.9301 9.74989C10.6901 10.1599 10.8901 10.4999 11.3601 10.4999H12.6301C13.1101 10.4999 13.3001 10.8399 13.0601 11.2499L12.0001 13.1099"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path
                                    d="M8.30011 18.0399V16.8799C6.00011 15.4899 4.11011 12.7799 4.11011 9.89993C4.11011 4.94993 8.66011 1.06993 13.8001 2.18993C16.0601 2.68993 18.0401 4.18993 19.0701 6.25993C21.1601 10.4599 18.9601 14.9199 15.7301 16.8699V18.0299C15.7301 18.3199 15.8401 18.9899 14.7701 18.9899H9.26011C8.16011 18.9999 8.30011 18.5699 8.30011 18.0399Z"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                                <path d="M8.5 22C10.79 21.35 13.21 21.35 15.5 22" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </g>
                        </svg>
                        <span>Lampu Ruangan 2</span>
                    </button>
                    <button id="pump-1" class="btn bg-white text-black border-[#e5e5e5] flex flex-col h-24">
                        <svg class="fill-neutral w-10 h-10" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M9.882 9.093c-.511 4.115-3.121 4.847-3.121 7.708C6.761 18.567 8.244 20 10 20s3.238-1.434 3.238-3.199c0-2.861-2.61-3.593-3.121-7.708-.016-.123-.219-.123-.235 0zm-5.999-9C3.372 4.208.762 4.939.762 7.801.762 9.566 2.244 11 4 11s3.238-1.434 3.238-3.199c0-2.861-2.61-3.593-3.121-7.708-.015-.123-.219-.123-.234 0zm12 0c-.511 4.115-3.121 4.847-3.121 7.708C12.762 9.566 14.244 11 16 11s3.238-1.434 3.238-3.199c0-2.861-2.61-3.593-3.121-7.708-.016-.123-.219-.123-.234 0z">
                                </path>
                            </g>
                        </svg>
                        <span>Pompa Ruangan 1</span>
                    </button>
                    <button id="pump-2" class="btn bg-white text-black border-[#e5e5e5] flex flex-col h-24">
                        <svg class="fill-neutral w-10 h-10" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M9.882 9.093c-.511 4.115-3.121 4.847-3.121 7.708C6.761 18.567 8.244 20 10 20s3.238-1.434 3.238-3.199c0-2.861-2.61-3.593-3.121-7.708-.016-.123-.219-.123-.235 0zm-5.999-9C3.372 4.208.762 4.939.762 7.801.762 9.566 2.244 11 4 11s3.238-1.434 3.238-3.199c0-2.861-2.61-3.593-3.121-7.708-.015-.123-.219-.123-.234 0zm12 0c-.511 4.115-3.121 4.847-3.121 7.708C12.762 9.566 14.244 11 16 11s3.238-1.434 3.238-3.199c0-2.861-2.61-3.593-3.121-7.708-.016-.123-.219-.123-.234 0z">
                                </path>
                            </g>
                        </svg>
                        <span>Pompa Ruangan 2</span>
                    </button>
                </div>
                <div class="space-y-2">
                    <div class="flex content-center justify-between">
                        <h3>Waktu Sekarang</h3>
                        <div>
                            <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="fill-current h-6 w-6">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M4 8C4 9.10457 3.10457 10 2 10C0.895431 10 0 9.10457 0 8C0 6.89543 0.895431 6 2 6C3.10457 6 4 6.89543 4 8Z">
                                    </path>
                                    </path>
                                    <path
                                        d="M10 8C10 9.10457 9.10457 10 8 10C6.89543 10 6 9.10457 6 8C6 6.89543 6.89543 6 8 6C9.10457 6 10 6.89543 10 8Z">
                                    </path>
                                    <path
                                        d="M14 10C15.1046 10 16 9.10457 16 8C16 6.89543 15.1046 6 14 6C12.8954 6 12 6.89543 12 8C12 9.10457 12.8954 10 14 10Z">
                                    </path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div>
                        <h2 class="countdown font-mono text-5xl" id="clock">
                            12:10:10
                        </h2>
                    </div>
                </div>
                <div class="space-y-3">
                    <div class="flex content-center justify-between">
                        <h3>Agenda Kegiatan</h3>
                        <div>
                            <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="fill-current h-6 w-6">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M4 8C4 9.10457 3.10457 10 2 10C0.895431 10 0 9.10457 0 8C0 6.89543 0.895431 6 2 6C3.10457 6 4 6.89543 4 8Z">
                                    </path>
                                    </path>
                                    <path
                                        d="M10 8C10 9.10457 9.10457 10 8 10C6.89543 10 6 9.10457 6 8C6 6.89543 6.89543 6 8 6C9.10457 6 10 6.89543 10 8Z">
                                    </path>
                                    <path
                                        d="M14 10C15.1046 10 16 9.10457 16 8C16 6.89543 15.1046 6 14 6C12.8954 6 12 6.89543 12 8C12 9.10457 12.8954 10 14 10Z">
                                    </path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 text-neutral">
                        <table class="table" id="table-jadwal">
                            <!-- head -->
                            <thead>
                                <tr>
                                    <th>Hari</th>
                                    <th>Tanggal</th>
                                    <th>Deskripsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- row 1 -->
                                <tr>
                                    <td>Cy Ganderton</td>
                                    <td>Quality Control Specialist</td>
                                    <td>Blue</td>
                                </tr>
                                <!-- row 1 -->
                                <tr>
                                    <td>Cy Ganderton</td>
                                    <td>Quality Control Specialist</td>
                                    <td>Blue</td>
                                </tr>
                                <!-- row 1 -->
                                <tr>
                                    <td>Cy Ganderton</td>
                                    <td>Quality Control Specialist</td>
                                    <td>Blue</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="../static/app2.js"></script>
</body>

</html>