body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
}

h1 {
    color: white;
}

button {
    padding: 15px 32px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

#status {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}