{% extends "base.html" %}

{% block title %} About {% endblock %}



{% block content %}
<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Tentang Kami</h1>
            <p class="py-6">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia quia qui voluptates ipsam inventore
                magni distinctio veritatis unde. Esse officia molestias dignissimos enim, iure dolores ea harum
                obcaecati eaque quos nostrum repudiandae quam itaque, nesciunt nisi corrupti nihil nam quibusdam modi
                animi voluptatem explicabo fugiat distinctio dolore? Dicta, hic qui!
            </p>
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
</div>

{% endblock %}